@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
  }

/* Primer contenidor */
.flex-container-1{
	background-color: black;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.container11{
	background-color: darkslateblue;
	margin: 10px 10px;
	flex: 100%;
	padding: 10px;
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}

.container111{
	flex: 20%;
	background-color:crimson;
	display: flex;
	margin: 10px 10px;
	padding:10px;
}

.container112{
	background-color:crimson;
	display: flex;
	flex: 60%;
	margin: 10px 10px;
	padding:10px;
}

.container113{
    display: flex;
    flex: 20%;
    background-color:crimson;
    margin: 10px;
    padding:10px;
}

.container12{
	background-color: orange;
    flex: 100%;
    margin:10px;
    padding: 10px;
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}

.container121{
	background-color:crimson;
    margin: 10px;
    padding:10px;
	flex: 100%;
	display: flex;
}


/* Segon contenidor */
.flex-container-2{
    background-color: black;
	flex: 100%;
	margin: 10px 0;
    padding: 10px;
	display: flex;
	flex-direction:row;
}

.flex-container-21{ 
    background-color: darkblue;
	margin: 10px;
    padding: 10px;
	flex:65%;
	display:flex;
	flex-wrap: wrap;
}

.flex-container-211{
	display: flex;
	flex: 100%;
	flex-direction: row;
    
}
.flex-item-2111{
	background-color:darkcyan;
    margin:10px;
    padding:10px;
	flex-grow: 1;
	display: flex;
}
.flex-item-2112{
	background-color:darkcyan;
    margin:10px;
    padding:10px;
	flex-grow: 1;
	display: flex;
}
.flex-container-212{
	display: flex;
	flex: 100%;
	flex-direction: row;   
}

.flex-item-2113{
	background-color:darkcyan;
    margin:10px;
    padding:10px;
	flex-grow: 1;
	display: flex;
}
.flex-item-2114{
	background-color:darkcyan;
    margin:10px;
    padding:10px;
	flex-grow: 1;
	display: flex;
}

.container215{
	background-color:cadetblue;
    margin:10px;
    padding:10px;
	flex:100%;
	display: flex;
}

.container22{
    background-color: crimson;
	margin: 10px;
    flex:30;
    padding: 10px;
	display:flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.container221{
    display: flex;
    background-color: orange;
    margin: 10px;
    padding:10px;
	flex:100%;
}

.container222{
    display: flex;
    background-color:orange;
    margin: 10px;
    padding:10px;
	flex:100%;
}

/* Tercer contenidor */
.flex-container-3{
	background-color: black;
    padding: 10px;
}
.container31{
    background-color: crimson;
	margin: 10px;
    flex:100;
    padding: 10px;
	display:flex;
}


/* Adabtació LG */

/* Adabtació MD */

/* Adabtació SM */

@media (max-width:767px){
	.flex-container-2{
		background-color: yellow;
		flex-direction: column;
	}
}

/* Adabtació XS */
@media (max-width:575px){
	.flex-container-1{
		width:445px
	}
	.flex-container-2{
		width:445px
	}
	.flex-container-3{
		width:445px
	}
}

@media (max-width:445px){
	.flex-container-1{
		width:auto
	}
	.flex-container-2{
		width:auto
	}
	.flex-container-3{
		width:auto
	}
}

